<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <p>We have sent a confirmation email to <%= @order.email %></p>
  </div>
  
  <table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Product</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
  <% @line_item.each do |item| %>
    <% @product.each do |product| %> 
      <% if product.id == item.product_id %> 
      <%= render 'line_item', quantity: item[:quantity].to_i, product: product %>
      <% end %> 
     <% end %> 
  <% end %>
  </tbody>
  <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= humanized_money_with_symbol @order.total_cents / 100.0 %>
          </th>
        </tr>
      </tfoot>
  </table>
</section>
